#screen {

    position: relative;
    background-size: 100%;
    width: 100vw height: 56.25vw;
    margin: 0;

}

#startskaerm {

    position: absolute;
    background-image: url(img/startskaerm.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    z-index: 4;

}

.hide {

    display: none;
}


#game_background1 {

    background-image: url(img/scene_baggrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: relative;
    z-index: -1;

}

#game_background2 {

    background-image: url(img/scene_foregrund.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    top: 1vw;
    z-index: 0;

}


#game {

    position: relative;
}

#game_beer {

    background-image: url(img/beer.svg);
    background-size: 100%;
    width: 4.8vw;
    height: 18vw;
    position: absolute;
    top: -40vw;
    left: -10vw;

}

#game_beer2 {

    background-image: url(img/beer.svg);
    background-size: 100%;
    width: 6vw;
    height: 22vw;
    position: absolute;
    top: -36vw;
    left: -10vw;
    z-index: 1;

}

#game_beer3 {

    background-image: url(img/beer.svg);
    background-size: 100%;
    width: 6vw;
    height: 22vw;
    position: absolute;
    top: -34vw;
    left: -10vw;

}

#shot {


    background-image: url(img/shot.svg);
    background-size: 100%;
    width: 8vw;
    height: 8.8vw;
    position: absolute;
    top: -28vw;
    left: 11vw;
    z-index: 2;
}

#shot2 {


    background-image: url(img/shot.svg);
    background-size: 100%;
    width: 8vw;
    height: 8.8vw;
    position: absolute;
    top: -30vw;
    left: 88vw;
    z-index: 1;
}

#water {

    background-image: url(img/water.svg);
    background-size: 100%;
    width: 5.4vw;
    height: 20vw;
    position: absolute;
    top: -40vw;
    left: 59vw;
    z-index: 1;

}

#water2 {

    background-image: url(img/water.svg);
    background-size: 100%;
    width: 5.4vw;
    height: 20vw;
    position: absolute;
    top: -35vw;
    left: 18vw;
    z-index: 3;

}


#sober_pill {


    background-image: url(img/soberpill.svg);
    background-size: 100%;
    width: 8vw;
    height: 15vw;
    position: absolute;
    top: -35vw;
    left: 75vw;
}

#sober_pill2 {


    background-image: url(img/soberpill.svg);
    background-size: 100%;
    width: 8vw;
    height: 15vw;
    position: absolute;
    top: -28vw;
    left: 25vw;
}


#bartender {


    background-image: url(img/bartender.svg);
    background-size: 100%;
    width: 30vw;
    height: 32vw;
    position: absolute;
    top: -55vw;
    left: 33vw;
    z-index: -1
}

#energi5 {


    background-image: url(img/energibar_5.svg);
    background-size: 100%;
    width: 3vw;
    height: 8.5vw;
    position: absolute;
    top: -9vw;


}

#settings_knap {

    background-image: url(img/settings.svg);
    background-size: 100%;
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: -5.5vw;
    left: 93vw;

}


.beer1 {

    animation-name: beer1;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}



@keyframes beer1 {

    0% {
        transform: translateX(-50vw);
    }

    100% {

        transform: translateX(120vw);
    }
}


.beer2 {

    animation-name: beer1;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes beer2 {

    0% {
        transform: translateX(-100vw);
    }

    100% {

        transform: translate(120vw);
    }
}

.beer3 {

    animation-name: beer1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes beer3 {

    0% {
        transform: translateX(-150vw);
    }

    100% {

        transform: translate(120vw);
    }
}






.shots {

    animation-name: shots;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

@keyframes shots {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }
}

.shots1 {

    animation-name: shots;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes shots1 {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }
}


.water1 {

    animation-name: shots;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes water1 {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }


}


.water2 {

    animation-name: shots;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}



@keyframes water2 {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }


}


.pill {

    animation-name: shots;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


@keyframes pill {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }


}

.pill1 {

    animation-name: shots;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


@keyframes pill1 {

    0% {

        transform: translateX(-150vw);
    }

    100% {

        transform: translateX(110vw);
    }


}
